Flask==3.0.3
gunicorn==20.1.0  # For running the app in production
requests==2.32.3
python-dotenv==1.0.1
numpy==1.26.4  # Only if needed
pydantic==2.7.4  # Only if needed
PyJWT==2.9.0
Pillow==10.3.0
google-api-python-client==2.133.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0  # For OAuth 2.0
google-generativeai==0.7.0  # If you're using Google’s Generative AI
pymongo==4.8.0